<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:util="http://www.springframework.org/schema/util"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-4.3.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-4.3.xsd">

     
    <util:list list-class="java.util.LinkedList" id="list">
        <value>value1</value>
        <value>value2</value>
        <value>value3</value>
        <value>value4</value>
    </util:list>

    <util:map id="map" map-class="java.util.HashMap">
        <entry key="1" value="value1"></entry>
        <entry key="2" value="value2"></entry>
        <entry key="3" value="value3"></entry>
        <entry key="4" value="value4"></entry>
    </util:map>

    <util:set id="set" set-class="java.util.HashSet">
        <value>value1</value>
        <value>value2</value>
        <value>value3</value>
        <value>value1</value>
    </util:set>


    <context:annotation-config/>
    <context:component-scan base-package="example"/>
</beans>
